<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" href="CSSsettings.css">
        <link rel="stylesheet" href="style navbar.css">
        <link rel="stylesheet" href="">
        <title>STI2D/DNL SI</title>
    </head>

    <body>
        <div class="navbar">
          <div class="navbar-homelogo">
            <a class="logo" href="#"><img src="images\Logo STI2D.png"> DNL SI</a>
          </div>
          <div class="navbar-menu">
            <ul>
              <div class="ulnavmenu">
                <li><a href="#">Summary sheets</a></li>
              </div>
              <div class="ulnavmenu">
                <li><a href="#">Various</a></li>
              </div>
              <div class="ulnavmenu">
                <div class="wsub1">
                  <li><a class="arrdivi" href="#">Divisions<div class="arrow"></div></a></li>
                  <ul class="sub-divisions">
                  <h3>2 - Energies</h3>
                    <ul>
                      <li><a href="index.php?rubrique=2_1_energy_ressources">2-1 Energy resources</a></li>
                      <li><a href="index.php?rubrique=2_2_forces">2-2 Energy, forces and motion</a></li>
                      <li><a href="index.php?rubrique=2_3_smart_grids">2-3 Smart grids</a></li>
                    </ul>
                    <h3>3 - Structures</h3>
                    <ul>
                      <li><a href="index.php?rubrique=3_1_domes">3-1 Arches and domes</a></li>
                      <li><a href="index.php?rubrique=3_2_buildings">3-2 Buildings</a></li>
                      <li><a href="index.php?rubrique=3_3_smart">3-3 Smart structures</a></li>
                      <li><a href="index.php?rubrique=3_4_3d">3-4 3D modeling</a></li>  
                    </ul>
                    <h3>4 - Communication</h3>
                    <ul>
                      <li><a href="index.php?rubrique=4_1_diagnosing">4-1 Diagnosing a problem</a></li>
                      <li><a href="index.php?rubrique=4_2_complaints">4-2 Dealing with complaints</a></li>
                      <li><a href="index.php?rubrique=4_3_lab">4-3 Analysing lab results</a></li>
                      <li><a href="index.php?rubrique=4_4_job">4-4 New job</a></li>
                      <li><a href="index.php?rubrique=4_5_charts">4-5 Charts and graphs</a></li>
                      <li><a href="index.php?rubrique=4_6_oral">4-6 Oral communication</a></li>
                      <li><a href="index.php?rubrique=4_7_earth_day">4-7 Earth Day</a></li>
                      <li><a href="index.php?rubrique=4_8_virtual_reality">4-8 Virtual Reality</a></li>
                    </ul>
                  </ul>
                </div>
              </div>
              <div class="ulnavmenu">
                <li><a href="pong.html">Pong |° |</a></li>
              </div>
            </ul>
          </div>
          <div class="navbar-more">
            <a href="#"><img src="images\svg\light-mode.svg"></a>
            <a class="info--navbar-more" href="#"><img src="images\svg\info.svg">
              <div class="info-box">made in 2022<br>by Olivier</div>
            </a>
            <a href="#"><img src="images\svg\settings.svg"></a>
          </div>
        </div>

        <div class="divBODY">
          <div class="blocknavbar"></div>

          <div class="realbody">
            <h1>/title</h1>
          </div>
        </div>
    </body>
</html>